In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Warsaw_Flat_Prices_0822.csv")

In [3]:
df.head()

,Location,Price,Price per m2,Size M2,Rooms
0,"Warszawa, Praga-Północ",396 000 zł,13 655 zł/m²,29 m²,2 pokoje
1,"Warszawa, Bemowo, ul. Secemińska",695 000 zł,11 564 zł/m²,60.1 m²,3 pokoje
2,"Warszawa, Wilanów",828 000 zł,15 055 zł/m²,55 m²,2 pokoje
3,"Warszawa, Białołęka",730 000 zł,13 225 zł/m²,55.2 m²,3 pokoje
4,"Warszawa, Śródmieście, ul. Marszałkowska 111a",750 000 zł,19 330 zł/m²,38.8 m²,2 pokoje

In [4]:
df['Price'] = df['Price'].str.replace(r'[^\d.]', '').astype(float)

C:\Users\Bartosz\AppData\Local\Temp\ipykernel_7372\4246702102.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Price'] = df['Price'].str.replace(r'[^\d.]', '').astype(float)

Cleaning data,replace currency tag and changing data type to float

In [5]:
df["Price per m2"]=df["Price per m2"].str.replace("zł/m²","")
df["Price per m2"]=df["Price per m2"].str.replace("€/m²","")
df["Price per m2"]=df["Price per m2"].str.replace(" ","")
df["Price per m2"]=df["Price per m2"].str.replace(",","")
df["Price per m2"]=df["Price per m2"].str.replace("/m²","")
df["Price per m2"]=df["Price per m2"].str.replace("$","")

C:\Users\Bartosz\AppData\Local\Temp\ipykernel_7372\2463855582.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Price per m2"]=df["Price per m2"].str.replace("$","")

Cleaning data,replace currency tag and meters

In [6]:
df["Size M2"]=df["Size M2"].str.replace("m²","")

replace "m2" to nothing

In [7]:
df.head()

,Location,Price,Price per m2,Size M2,Rooms
0,"Warszawa, Praga-Północ",396000.0,13655,29,2 pokoje
1,"Warszawa, Bemowo, ul. Secemińska",695000.0,11564,60.1,3 pokoje
2,"Warszawa, Wilanów",828000.0,15055,55,2 pokoje
3,"Warszawa, Białołęka",730000.0,13225,55.2,3 pokoje
4,"Warszawa, Śródmieście, ul. Marszałkowska 111a",750000.0,19330,38.8,2 pokoje

In [8]:
df['Rooms'] = df['Rooms'].str.replace(r'\D','')

C:\Users\Bartosz\AppData\Local\Temp\ipykernel_7372\857880607.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Rooms'] = df['Rooms'].str.replace(r'\D','')

replace string to nothing

In [9]:
def col_type(col):
    if col.name in ["Price", "Price per m2","Size M2"]:
        return col.astype(float)
    return col

df[["Price", "Price per m2","Size M2"]] = df[["Price", "Price per m2","Size M2"]].apply(col_type)

Return col type as a float

In [10]:
df.head()

,Location,Price,Price per m2,Size M2,Rooms
0,"Warszawa, Praga-Północ",396000.0,13655.0,29.0,2
1,"Warszawa, Bemowo, ul. Secemińska",695000.0,11564.0,60.1,3
2,"Warszawa, Wilanów",828000.0,15055.0,55.0,2
3,"Warszawa, Białołęka",730000.0,13225.0,55.2,3
4,"Warszawa, Śródmieście, ul. Marszałkowska 111a",750000.0,19330.0,38.8,2

In [11]:
df["Location"].head()

0                           Warszawa, Praga-Północ
1                 Warszawa, Bemowo, ul. Secemińska
2                                Warszawa, Wilanów
3                              Warszawa, Białołęka
4    Warszawa, Śródmieście, ul. Marszałkowska 111a
Name: Location, dtype: object

Data it's clean now I am trying to check corelation with center of Warsaw distance and flats price.

In [12]:
pip install geopy

Requirement already satisfied: geopy in c:\users\bartosz\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\bartosz\anaconda3\lib\site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="my_application")

location = geolocator.geocode("Warszawa")
print(location.latitude, location.longitude)

location = geolocator.geocode("Warszawa Praga-Północ")
print(location.latitude, location.longitude)

52.2319581 21.0067249
52.2648843 21.0273442

In [18]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="my_application")

df["Latitude"] = None
df["Longitude"] = None

for i, location in df["Location"].iteritems():
    coord = geolocator.geocode(location)
    if coord is not None:
        df.at[i, "Latitude"] = coord.latitude
        df.at[i, "Longitude"] = coord.longitude

KeyboardInterrupt:

Downloading location coordinates (it's a long process)

In [26]:
df.head(500
        
       )

,Location,Price,Price per m2,Size M2,Rooms,Latitude,Longitude
0,"Warszawa, Praga-Północ",396000.0,13655.0,29.00,2,52.264884,21.027344
1,"Warszawa, Bemowo, ul. Secemińska",695000.0,11564.0,60.10,3,None,None
2,"Warszawa, Wilanów",828000.0,15055.0,55.00,2,52.153083,21.110441
3,"Warszawa, Białołęka",730000.0,13225.0,55.20,3,52.331566,21.020619
4,"Warszawa, Śródmieście, ul. Marszałkowska 111a",750000.0,19330.0,38.80,2,None,None
...,...,...,...,...,...,...,...
495,"Warszawa, Żoliborz",1890000.0,22235.0,85.00,3,52.267594,20.979698
496,"Warszawa, Bielany, Marii Dąbrowskiej",530000.0,8908.0,59.50,3,52.274526,20.931202
497,"Warszawa, Wola, ul. Okopowa 56",538552.0,16520.0,32.60,2,None,None
498,"Warszawa, Śródmieście, Śródmieście Północne",475000.0,12242.0,38.80,2,52.236806,21.009433
499,"Warszawa, Śródmieście, Powiśle, Topiel",8850000.0,40346.0,219.35,6,52.237448,21.025991

In [17]:
pd.read_csv("flatsloc")

,Unnamed: 0,Location,Price,Price per m2,Size M2,Rooms
0,0,"Warszawa, Praga-Północ",396000.0,13655.0,29.0,2
1,1,"Warszawa, Bemowo, ul. Secemińska",695000.0,11564.0,60.1,3
2,2,"Warszawa, Wilanów",828000.0,15055.0,55.0,2
3,3,"Warszawa, Białołęka",730000.0,13225.0,55.2,3
4,4,"Warszawa, Śródmieście, ul. Marszałkowska 111a",750000.0,19330.0,38.8,2
...,...,...,...,...,...,...
11245,11245,"Warszawa, Ursynów",550000.0,11224.0,49.0,2
11246,11246,"Warszawa, Ochota, Aleje Jerozolimskie",1530000.0,12000.0,127.5,3
11247,11247,"Warszawa, Śródmieście, Mokotowska",1230000.0,10000.0,123.0,3
11248,11248,"Warszawa, Śródmieście, Traugutta",1295000.0,17290.0,74.9,3
11249,11249,"Warszawa, Praga-Północ",278000.0,9115.0,30.5,1